TIDB_URL=jdbc:mysql://4Xiv3fjpm8J6W98.root:cJcsQLWSWiT3DG1r@gateway01.ap-southeast-1.prod.aws.tidbcloud.com:4000/tracker?sslMode=VERIFY_IDENTITY
TIDB_USERNAME=4Xiv3fjpm8J6W98.root
TIDB_PASSWORD=cJcsQLWSWiT3DG1r
JWT_SECRET=replace-with-a-random-secret-at-least-32-bytes
JWT_EXPIRE_MS=86400000
DEVICE_OFFLINE_SECONDS=30
CORS_ALLOWED_ORIGINS=http://localhost:3000
PORT=8080
